<!-- Capture meta-tags to display in layout head -->
<% content_for :metas do %>
  <meta property="og:title" content="<%= @restaurant.name %>" />
  <meta property="og:type" content="restaurant.restaurant" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= @restaurant.image.card.url %>" />
<% end %>

<!-- Capture title to display in layout head -->
<% content_for :title do %>
  <%= @restaurant.name %>
<% end %>

<h2 class="restaurant_name"><%= @restaurant.name %></h2>

<div class="center">
  <%= link_to 'Make a Reservation', new_restaurant_reservation_path(@restaurant), class: 'btn reservation-btn' %>
</div>
