<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Seat Yourself" %></title>
    <%= csrf_meta_tags %>
    <%= content_for(:metas) if content_for?(:metas) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="shortcut icon" href="aguacate.ico">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Lato:300" rel="stylesheet">
  </head>

  <body>

    <!-- NAVIGATION -->
    <nav>

      <!-- DISPLAY LOGIN USER -->
      <% if current_user %>
        <%= link_to "Hello, #{current_user.name}!", profile_path, class: 'user_name' %>
      <% end %>
      <!-- END DISPLAY LOGIN USER -->

      <!-- NAV ITEM -->
      <ul id="nav-mobile" class="right">
        <li><%= link_to 'Home', root_path %></li>

        <!-- PROFILE -->
        <% if current_user %>
          <li><%= link_to 'Profile', profile_path %></li>
        <!-- END PROFILE -->

          <!-- ADMIN -->
          <% if current_user.is_admin? %>
            <li><%= link_to 'Admin', admin_path %></li>
          <% end %>
          <!-- END ADMIN -->

        <!-- LOG OUT OR LOG IN /SIGN UP -->
        <li><%= link_to 'Log out', session_path(current_user), method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log in', new_session_path %></li>
          <li><%= link_to 'Sign up', new_user_path %></li>
        <% end %>

      </ul>
      <!-- END NAV ITEM -->

  </nav>
  <!-- END NAVIGATION -->

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

    <%= yield %>
    <!-- pomegranate image: from @valeria_aksakova - freepik -->
  </body>
</html>
