<!DOCTYPE html>
<html>
<head>
    <title><%= content_for(:title) || "Seat Yourself" %></title>
    <%= csrf_meta_tags %>
    <%= content_for(:metas) if content_for?(:metas) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="shortcut icon" href="aguacate.ico">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Lato:300" rel="stylesheet">

  <body>

    <!-- NAVIGATION -->
    <nav>

      <!-- DISPLAY LOGIN USER -->
      <% if current_user %>
        <%= link_to "Hello, #{current_user.name}!", profile_path, class: 'user_name' %>
      <% end %>
      <!-- END DISPLAY LOGIN USER -->

      <!-- NAV ITEM -->
      <ul id="nav-mobile" class="right">
        <li>
          <%= link_to 'Home', root_path %>
        </li>
      </ul>
  </nav>

    <%= yield %>
  </body>
</html>
